*.o
.deps
.dirstamp
.vscode
/Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.hin
config.log
config.status
config.guess
config.rpath
config.sub
configure
depcomp
install-sh
missing
stamp-*
m4/*
po/Makefile
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/dfshow.pot
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
/bin/*
/docs/build/*
*.stackdump
*~
valgrind*
*.#*
ABOUT-NLS
